<div class="layout-content-section animated fadeIn">
  <app-section-header
    textsubheader="Estilos personalizados para los fieldset <p-fieldset>"
  ></app-section-header>

  <div class="container-fluid layout-section mt-4">
    <p-tabView>
      <p-tabPanel header="Fieldset" leftIcon="fas fa-file-invoice">
        <p-card header="">
          <div class="container">
            <div class="col-12">
              <p-fieldset legend="Mantenimiento de Paises">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt sapiente sed commodi, earum velit officiis vel molestias corrupti. Dicta ducimus molestiae deserunt consectetur doloremque laudantium ratione! Autem ratione eum accusantium.
              </p-fieldset>
            </div>
          </div>
        </p-card>
      </p-tabPanel>
      <p-tabPanel header="PlandirNG-Sass" leftIcon="fab fa-sass">
        <app-section-html tipo="fieldset"></app-section-html>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
