  <!-- ======================================================================================== -->
  <!-- Header - Definido en style.css -->
  <!-- ======================================================================================== -->
  
  <style>
    .borde {
      border:1px solid red;
    }
    .borde2 {
      border:1px solid yellow;
    }
  </style>
  <header>
    <div class="header animated fadeIn">
      <nav class="navbar  d-flex align-items-center mt-1 ">
        <ul class="nav-left ">
         
          <li class="text-logo "><a href="#">PLANDIRNG</a></li>
         
        </ul>
        <ul class="nav-right  d-flex justify-content-center align-items-center">
          <li class="nav-link"><a href="">Colores</a></li>
          <li class="nav-link"><a href="">Fuentes</a></li>   
         
          <li class="nav-link dipu"><span class="dipu">DIPUTACIÓN DE JAÉN</span></li>
        
        </ul>
      
      </nav>
    </div>
  </header>