  <!-- ======================================================================================== -->
  <!-- Header - Definido en style.css -->
  <!-- ======================================================================================== -->
  <header>
    <div class="header animated fadeIn">
      <nav class="navbar">
        <ul class="nav-left">
          <li>
            <a href="#"
              ><img src="assets/img/_logo.png" alt="" class="img-logo"
            /></a>
          </li>
          <li class="text-logo"><a href="#">PLANDIRNG</a></li>
        </ul>
        <ul class="nav-right">
          <li class="nav-link"><a href="">Colores</a></li>
          <li class="nav-link"><a href="">Fuentes</a></li>
        </ul>
      </nav>
    </div>
  </header>