<div class="layout-content-section animated fadeIn">
  <app-section-header
    textsubheader="Estilos personalizados para los spinner"
  ></app-section-header>

  <div class="container-fluid layout-section mt-4">
    <p-tabView>
      <p-tabPanel header="Spinner" leftIcon="fas fa-file-invoice">
        <p-card header="Preloader">
          <div>
            <div class="preloader m-5">
              <div class="loader">
                <div class="loader__figure"></div>
                <span class="loader__label">PLAN DIRECTOR</span>
              </div>
            </div>
          </div>
        </p-card>
      </p-tabPanel>
      <p-tabPanel header="PlandirNG-Sass" leftIcon="fab fa-sass">
        <app-section-html tipo="button"></app-section-html>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<div class="clearfix"></div>
