  <!-- ======================================================================================== -->
  <!-- Sidebar - Definido en style.css -->
  <!-- ======================================================================================== -->
<div class="sidebar animated fadeIn">
  <div class="sidebar_menu">
    <span><i class="fa fa-home"></i> Proyecto</span>
    <div class="secciones">
      <a routerLink="estructura">Estructura</a>
    </div>
    <span><i class="fab fa-github"></i> Descarga</span>
    <div class="secciones">
      <a href="">Github</a>
    </div>

    <span><i class="fa fa-id-card-o" aria-hidden="true"></i> Componentes</span>
    <div class="secciones">
      <a routerLink="buttons">Botones</a>
      <a routerLink="cards">Cards</a>
      <a routerLink="breadcrums">Breadcrums</a>
      <a routerLink="inputs">Inputs</a>
      <a routerLink="filters">Filters</a>
    </div>
  </div>
</div>
