<div class="layout-content-section animated fadeIn">
  <app-section-header
    textsubheader="Estilos personalizados para los dropdowns <p-dropdowns>"
  ></app-section-header>

  <div class="container-fluid layout-section mt-4">
    <p-tabView>
      <p-tabPanel header="Dropdown" leftIcon="fas fa-file-invoice">
        <p-card header="Single">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <p-dropdown [options]="municipios" [(ngModel)]="seleccionaMuni"></p-dropdown>
              </div>
            </div>
          </div>
        </p-card>

      </p-tabPanel>
      <p-tabPanel header="Sass" leftIcon="fab fa-sass">
        <app-section-html tipo="dropdowns"></app-section-html>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>





