<div class="layout-content-section animated fadeIn">
  <app-section-header textsubheader="{{ texto }}"></app-section-header>

  <div class="container-fluid layout-section">
    <style>
      .borde1 {
        border: 2px solid red;
      }
      .borde2 {
        border: 2px solid green;
      }
    </style>

    <div class="row content">
      <div class="col-12 subcontent">
        <h2>PLANDIRNG</h2>
        <div class="separador"></div>
        <p>
          Esta web desarrollada en Angular, pretende mostrar el template que se
          ha creado con el proyecto
          <span class="destacado">PLANDIRNG SASS.</span><br />
          Este proyecto es la base de los estilos del nuevo plan director, tanto
          a nivel de componentes, como a nivel de layout, paginas de acceso,
          etc.. <br />

          Está desarrollado en SASS, para utilizar las ventajas de, estructura
          del proyecto con partials, utilización de variables, funciones y
          mixins. <br />
          El resultado o compilacion del proyecto, genera el archivo
          PLANDIRNG.css, que es el que importaremos a nuestro proyecto Angular,
          y el que hemos importado en esta aplicación, para ver el aspecto final
          de todos los componentes.
        </p>

        <div class="row">
          <div class="col-12">
            <p-accordion>
              <p-accordionTab header="Dependencias">
                <p>
                  PLANDIRNG utiliza el core de primeng y el primeicons, ya que
                  mucho de los componentes que se han ido creando, internamente
                  hacen referencia a los iconos de prime. Por lo tanto debemos
                  tener instaladas estos dos paquetes.
                </p>

                <pre class="ui-corner-all"><code class="language-css" pCode>
                  npm install primeng --save
                  npm install primeicons --save
                </code></pre>
              </p-accordionTab>
              <p-accordionTab header="Que .css incluye?">
                <p>
                  PLANDIRNG en su base, incluye una serie de librerias, que no
                  necesitamos importar y que forman parte de su core. <br />
                  La ventaja fundamental es que tendremos un único archivo .css
                  (y una única llamada al servidor con todo lo que necesitemos).
                </p>

                <div id="lista" *ngIf="librerias">
                  <p-dataView #dv [value]="librerias" [paginator]="true" [rows]="20" paginatorPosition="bottom" filterBy="brand"
                  >
                 
                  <ng-template let-car pTemplate="listItem">
                      <div class="p-col-12">
                          <div class="car-details">
                              <div>
                                  <img [src]="car.image" class="img-thumbnail" width="100" height="100">
                                  <div class="p-grid">
                                      <div class="p-col-12">Incluye: <b>{{car.dependency}}</b></div>
                                      <div class="p-col-12">Descripción: <b>{{car.description}}</b></div>
                                      <div class="p-col-12">Versión: <b>{{car.version}}</b></div>
                                    
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </ng-template>
                 
              </p-dataView>
        
                </div>
              </p-accordionTab>
              <p-accordionTab header="Que .js incluye?"> </p-accordionTab>
              <p-accordionTab header="Como usarla en nuestros proyectos">
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
