<div class="layout-content-section animated fadeIn">
  <app-section-header textsubheader="{{texto}}"></app-section-header>

  <div class="container-fluid">

    <div class="row">
      <div class="col-12">

        <style>
          .subheader-text {
            font-size:18px;
            color:#6e6e6e;
            font-weight: 400;
            letter-spacing: .5px;
            margin-top: 10px;
          }
        </style>
        <h4 class="subheader-text">Como usarla</h4> <hr>


      </div>
    </div>

  </div>



</div>


