<div class="layout-content-section animated fadeIn">
  <app-section-header
    textsubheader="Estilos personalizados para los paginator <p-paginator>"
  ></app-section-header>

  <div class="container-fluid layout-section mt-4">
    <p-tabView>
      <p-tabPanel header="Paginator" leftIcon="fas fa-file-invoice">
        <p-card header="">
          <div class="container">
            <div class="col-5">
              <span
                style="
                  font-weight: 500;
                  display: block;
                  font-size: 15px;
                  margin-bottom: 10px;
                  padding: 0;
                  border-bottom: 1px solid #dbdbdb;
                "
                >Paginator</span
              >
              <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>

            </div>
          </div>
        </p-card>
      </p-tabPanel>
      <p-tabPanel header="Sass" leftIcon="fab fa-sass">
        <app-section-html tipo="accordion"></app-section-html>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
