<div class="layout-content-section animated fadeIn">
  <app-section-header textsubheader="{{ texto }}"></app-section-header>

  <div class="container-fluid layout-section">
    <div class="row content">
      <div class="col-12 subcontent">
        <h2>MODULO NOTICIAS</h2>

        <div class="separador"></div>

        <p-panel
          header="Ultimas Noticias"
          [toggleable]="true"
          [style]="{ 'margin-bottom': '20px' }"
        >
          <style>
            .borde1 {
              border: 2px solid red;
            }
            .borde2 {
              border: 2px solid blue;
            }
          </style>

          <div id="noticias" class="container-fluid">
            <div class="row fila-principal">
              <div class="col-6">
                <ng-template
                  ngFor
                  let-noticia
                  [ngForOf]="primeraNoticias"
                  let-i="index"
                >
                  <div class="row primera-noticia">
                    <div class="col-4">
                      <a
                        target="{{ noticia.targetEnlaceImagen }}"
                        title="{{ noticia.titleEnlaceImagen }}"
                        href="{{ noticia.hrefEnlaceImagen }}"
                      >
                        <img
                          class="img-rounded img-responsive img-fluid"
                          src="{{ noticia.srcImagen }}"
                          alt="{{ noticia.altImagen }}"
                          title="{{ noticia.titleImagen }}"
                        />
                      </a>
                    </div>
                    <div class="col-8 box-noticia">
                      <a
                        target="{{ noticia.targetEnlaceImagen }}"
                        href="{{ noticia.hrefTexto }}"
                      >
                        <p class="titular">{{ noticia.titulo }}</p>
                      </a>
                      <p class="subtitulo">
                        {{ noticia.subTitulo }}
                      </p>
                    </div>
                  </div>
                </ng-template>
                <div class="row segunda-noticia">
                  <ng-template
                    ngFor
                    let-noticia
                    [ngForOf]="segundaNoticias"
                    let-i="index"
                  >
                    <div class="col-2">
                      <a
                        target="{{ noticia.targetEnlaceImagen }}"
                        title="{{ noticia.titleEnlaceImagen }}"
                        href="{{ noticia.hrefEnlaceImagen }}"
                      >
                        <img
                          class="img-rounded img-responsive img-fluid"
                          src="{{ noticia.srcImagen }}"
                          alt="{{ noticia.altImagen }}"
                          title="{{ noticia.titleImagen }}"
                        />
                      </a>                     
                    </div>
                    <div class="col-4">
                      <a
                        target="{{ noticia.targetEnlaceImagen }}"
                        href="{{ noticia.hrefTexto }}"
                      >
                        <p>{{ noticia.titulo }}</p>
                      </a>
                    </div>
                  </ng-template>
                  </div>
              </div>
              <div class="col-6 ultimas-noticias">
                <div class="row">
                  <ng-template ngFor let-noticia [ngForOf]="ultimasNoticias" let-i="index">
                      <div class="col-12">
                          <a target="_blank" href="{{noticia.hrefTexto}}">
                              <p>{{noticia.titulo}}</p>
                          </a>
                      </div>
                  </ng-template>
              </div>
  
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>
