<div class="layout-content-section animated fadeIn">
  <app-section-header textsubheader="{{ texto }}"></app-section-header>

  <div class="container-fluid layout-section">
    <div class="row content">
      <div class="col-12 subcontent">
        <h2>MODULO NOTICIAS</h2>

        <div class="separador"></div>

        <p-panel
          header="Ultimas Noticias"
          [toggleable]="true"
          [style]="{ 'margin-bottom': '20px' }"
        >
          <style>
            .borde1 {
              border: 2px solid red;
            }
            .borde2 {
              border: 2px solid blue;
            }
          </style>
          <ng-template
            ngFor
            let-noticia
            [ngForOf]="primeraNoticias"
            let-i="index"
          >
            <div id="noticias" class="container-fluid">
              <div class="row principal">
                <div class="col-6 seccion-noticias">
                  <div class="row primera-fila mb-3 ">
                    <div class="col-5 imagen-principal ">
                      <a
                        target="{{ noticia.targetEnlaceImagen }}"
                        title="{{ noticia.titleEnlaceImagen }}"
                        href="{{ noticia.hrefEnlaceImagen }}"
                      >
                        <img
                          class="rounded img-fluid bordeVerde"
                          src="{{ noticia.srcImagen }}"
                          alt="{{ noticia.altImagen }}"
                          title="{{ noticia.titleImagen }}"
                        />
                      </a>
                    </div>
                    <div class="col-7 noticia-principal "></div>
                  </div>
                  <div class="row segunda-fila ">
                    <ng-template
                      ngFor
                      let-noticia
                      [ngForOf]="segundaNoticias"
                      let-i="index"
                    >
                      <div class="col-2 ">
                        <a
                          target="{{ noticia.targetEnlaceImagen }}"
                          title="{{ noticia.titleEnlaceImagen }}"
                          href="{{ noticia.hrefEnlaceImagen }}"
                        >
                          <img
                            class="rounded img-fluid bordeVerde"
                            src="{{ noticia.srcImagen }}"
                            alt="{{ noticia.altImagen }}"
                            title="{{ noticia.titleImagen }}"
                          />
                        </a>
                      </div>
                      <div class="col-4 ">
                        <a
                          target="{{ noticia.targetEnlaceImagen }}"
                          href="{{ noticia.hrefTexto }}"
                        >
                          <p>{{ noticia.titulo }}</p>
                        </a>
                      </div>
                    </ng-template>
                  </div>                  
                </div>
                <div class="col-6 seccion-ultimas-noticias">
                  <ng-template ngFor let-noticia [ngForOf]="ultimasNoticias" let-i="index">
                    <div class="col-12">
                        <a target="_blank" href="{{noticia.hrefTexto}}">
                            <p>{{noticia.titulo}}</p>
                        </a>
                    </div>
                </ng-template>

                </div>
              </div>
            </div>
          </ng-template>
        </p-panel>
      </div>
    </div>
  </div>
</div>
