<div class="layout-content-section animated fadeIn">
  <app-section-header
    textsubheader="Estilos personalizados para los Paneles <p-panel>"
  ></app-section-header>

  <div class="container-fluid layout-section mt-4">
    <p-tabView>
      <p-tabPanel header="Panel" leftIcon="fas fa-file-invoice">
        <p-card header="Menu">
          <div class="container">
            <div class="row">
              <div class="col-4">

              </div>

            </div>
          </div>
        </p-card>

      </p-tabPanel>

      <p-tabPanel header="PlandirNG-Sass" leftIcon="fab fa-sass">
        <app-section-html tipo="dropdowns"></app-section-html>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>












