<div class="layout-content-section">
    <app-section-header textsubheader="Estilos personalizados para los tarjetas <p-card>"></app-section-header>

        <div class="container-fluid layout-section mt-4">
            <p-tabView>
              <p-tabPanel header="Cards" leftIcon="fas fa-file-invoice">
                <p-card>
                  <div>
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                        <p-header>
                            <img  src="../../../../assets/img/logo.jpg" >
                        </p-header>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                        <p-footer>
                            <button pButton type="button" label="Save" icon="fa fa-check" style="margin-right: .25em"></button>
                            <button pButton type="button" label="Cancel" icon="fa fa-times" class="ui-button-secondary"></button>
                        </p-footer>
                    </p-card>
                  </div>
                </p-card>
                <p-card>
                  <div>
                    <p-card header="Simple Card" [style]="{width: '360px'}">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                    </p-card>
                  </div>
                </p-card>
               
              </p-tabPanel>
              <p-tabPanel header="Sass" leftIcon="fab fa-sass">
                <app-section-html tipo="cards"></app-section-html>
              </p-tabPanel>
            </p-tabView>
          </div>


    

</div>