<style>
  .footer-text {

    position: fixed;
    height: 80px;
    bottom: 0px;
    margin-bottom: 0px;
    display: block;
    overflow: hidden;
    color: #707070;
    font-weight: 700;
    background-color: #f5f7f8;
    border-top: 1px solid #dcdedf;
    margin-left:3px;
    width: 90%;

  }
  .footer-text img {
    padding: 5px 0;
    width: 40px;
    height: auto;
    margin-left:1em;

  }
  .footer-text span {
    font-size: .9em;
    vertical-align: middle;
    font-weight: 300;

  }
</style>

<div class="footer-text">
  <img src="assets/img/logoj.png" class=" img-fluid" alt="" srcset="">
  <span>
    Diputacion de Jaén

  </span>
</div>
